<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Huggers</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/main.css' type='text/css'>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
  <header>
    <div class="header-wrapper">
      <img id="menu-toggle" src="/assets/images/menu2.png" alt="menu toggle">
      <a href="/">
        <h1>Huggers</h1>
      </a>
      <a href="/huggers/about">
        <img id="hearts" src="/assets/images/hearts.png" alt="Huggers hearts">
      </a>
    </div>
  </header>
  <div class="header-separator"></div>
  <nav id="menu" class="hidden">
    <ul>
      <li>
        <a href="/users/<%=session[:user_id]%>/search">
          Search
          <img src="/assets/images/search.png" alt="search icon">
        </a>
      </li>
      <li><a href="/users/<%=session[:user_id]%>/profile">My Profile</a></li>
      <% show_us = false %>
      <% if logged_in?  %>
        <% user = current_user %>
        <% if user.relationship != 0 %>
          <% show_us = true %>
        <% end%>
      <% end %>
      <% if show_us %>
        <%= "<li><a href='/users/#{session[:user_id]}/us'>&hearts; Us &hearts;</a></li>" %>
      <% else %>
        <%= "<li><a href='/users/#{session[:user_id]}/flirts'>Flirts</a></li>" %>
      <% end %>
      <li><a href="/users/<%=session[:user_id]%>/community">Community</a></li>
      <li><a href="/users/<%=session[:user_id]%>/games">Games</a></li>
      <li><a href="/users/<%=session[:user_id]%>/settings">Settings</a></li>
      <li><a href="/session/logout">Log Out</a></li>
      <li><a href="" id="copyright">&copy; Copyright Philip Castiglione 2015</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>