<main id="join">

  <% if @retained_content.empty? %>
    <% ['email','first_name','last_name','dob','gender','relationship','partner_user_id','location','description'].each do |attribute| %>
      <% @retained_content[attribute] = "" %>
    <% end %>  
  <% end %>

  <form action="/users" method="post">
    <p>
      <input type="text" name="email" placeholder="email address" value="<%= @retained_content["email"] %>">
      <input type="password" placeholder="password" name="password">
      <input type="text" placeholder="first name" name="first_name" value="<%= @retained_content["first_name"] %>">
      <input type="text" placeholder="last name" name="last_name" value="<%= @retained_content["last_name"] %>">
      <input type="text" placeholder="date of birth" name="dob" value="<%= @retained_content["dob"] %>">
      <input type="text" placeholder="gender" name="gender" value="<%= @retained_content["gender"] %>">
      <input type="text" placeholder="relationship status" name="relationship" value="<%= @retained_content["relationship"] %>">
      <input type="text" placeholder="*partner hugger id" name="partner_user_id" value="<%= @retained_content["partner_user_id"] %>">
      <input type="text" placeholder="location" name="location" value="<%= @retained_content["location"] %>">
      <input type="text" placeholder="description" name="description" value="<%= @retained_content["description"] %>">
    </p>
    <button>Join</button>
  </form>
</main>