<main id="private-profile">
  <h3>
    <a href="/users/<%=@user.id%>/public">View Public Profile</a>
  </h3>
  <section class="photos">
    <h3>Photos</h3>
    <a href="/users/<%= @user.id %>/photos">
      <div class="pictures"></div>
    </a>
    <p>Click to manage profile photos.</p>
  </section>
  <section id="bio_stats">
    <h3>Your Details</h3>
    <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
    <p>Gender: <%= @user.gender %></p>
    <p>Date of Birth: <%= @user.dob %> Age: <span class="age"></span></p>
    <p>Location: <%= @user.location %></p>
    <p>Relationship status: <%= @user.relationship %></p>
    <% if @partner %>
    <p>Partner Hugger id: <%= @partner.id %></p>
    <p>Partner Profile: <a href="/users/<%=@partner.id%>"><%= @partner.first_name %> <%= @partner.last_name %></a></p>
    <% end%>
  </section>
  <section id="descriptive_content">
    <h3>Describe Yourself</h3>
    <p><%= @user.description %></p>
  </section>
  <section id="edit_profile">
    <form id="form_edit" action="/users/<%=@user.id%>/edit" method="get">
      <button>Edit Profile</button>
    </form>
  </section>
  <section id="delete_profile">
    <h3>Delete Profile</h3>
    <form id="form_delete" action="/users/<%=@user.id%>/delete" method="post">
      <span class="warning1">Are you sure? This action cannot be reversed!<br></span>
      <span class="warning2">WARNING</span>
      <button id="delete">Delete</button>
      <span class="warning3">WARNING</span>
    </form>
  </section>
</main>

<script>

  var delConfirmed = false;

  var confirmDelete = function() {
    $('.warning1').show();
    $('.warning2').show();
    $('.warning3').show();
    $('form#form_delete').submit(function() {
      delConfirmed = true;
    });
  };

  $('.warning1').hide();
  $('.warning2').hide();
  $('.warning3').hide();
  $('#delete').on('click', confirmDelete);
  $('form#form_delete').submit(function() {
    if (delConfirmed) {
      return true;
    } else {
      return false;
    }
  });

  renderProfilePic(<%=@user.profile_photo_id%>,'.pictures');
  var age = SQLDobToAge((<%=@user.dob.to_s.split('')%>).join('')); // preventing stupid js implicit type coercion
  $('.age').append(age);
  
</script>
