<main id="public-profile">
  <section id="top">
    <a href="/users/<%= @user.id %>/photos">
      <div class="pictures"></div>
    </a>
    <article id="bio">
      <h3><%= @user.first_name %></h3>
      <p>Lives in <%= @user.location %></p>
      <% if @partner.nil?%>
        <p><%= "Looking for love!"%></p>
      <% else %>
        <p><%= "In a relationship with <a href='/users/#{@partner.id}'>#{@partner.first_name}</a>"%></p>
      <% end %>
    </article>
  </section>
  <section>
    <article id="details">
      <p><%= @user.description %></p>
    </article>
  </section>
</main>

<script>

  renderProfilePic(<%=@user.profile_photo_id%>,'.pictures');
  var age = SQLDobToAge((<%=@user.dob.to_s.split('')%>).join('')); // preventing stupid js implicit type coercion
  $('h3').append(', ' + age);

</script>
