<main id="public-profile">
  <section id="top">
    <div id="pictures">
      <!-- add functionality to click and see the other pics with js -->
    </div>
    <article id="bio">
      <h3><%= @user.first_name %></h3>
      <p><%= @user.location %></p>
      <% if @partner.nil?%>
        <p><%= "Looking for love!"%></p>
      <% else %>
        <p><%= "In a relationship with <a href='/users/#{@partner.id}'>#{@partner.first_name}</a>"%></p>
      <% end %>
    </article>
  </section>
  <section id="remainder">
    <article id="details">
      
    </article>
  </section>
</main>

<script>

  renderProfilePic(<%=@user.profile_photo_id%>,'#pictures');
  var age = SQLDobToAge((<%=@user.dob.to_s.split('')%>).join('')); // preventing stupid js implicit type coercion
  $('h3').append(', ' + age);

</script>
